<launch>

	<arg name="init_speed" default="0.5" />
	<arg name="init_lookahead_distance" default="3.0" />
	<arg name="detected_number" default="-1" />
	<arg name="return_sign" default="false" />
	<arg name="mission_A" default="true" />

	<arg name="current_mission_state" default="0" />
	<arg name="first_state_index" default="65" />
	<arg name="second_state_index" default="75" />
	<arg name="third_state_index" default="130" />
	<arg name="fourth_state_index" default="188" />
	<arg name="fifth_state_index" default="239" />
	<arg name="sixth_state_index" default="262" />
	<arg name="seventh_state_index" default="266" />
	<arg name="eighth_state_index" default="270" />	

	<node name="waypoint_follower_node" pkg="waypoint_follower" type="waypoint_follower" output="screen">
		<param name="init_speed" value="$(arg init_speed)" />
		<param name="init_lookahead_distance" value="$(arg init_lookahead_distance)" />
		<param name="detected_number" value="$(arg detected_number)" />
		<param name="return_sign" value="$(arg return_sign)" />
		<param name="mission_A" value="$(arg mission_A)" />
		<param name="current_mission_state" value="$(arg current_mission_state)" />
		<param name="first_state_index" value="$(arg first_state_index)" />
		<param name="second_state_index" value="$(arg second_state_index)" />
		<param name="third_state_index" value="$(arg third_state_index)" />
		<param name="fourth_state_index" value="$(arg fourth_state_index)" />
		<param name="fifth_state_index" value="$(arg fifth_state_index)" />
		<param name="sixth_state_index" value="$(arg sixth_state_index)" />
		<param name="seventh_state_index" value="$(arg seventh_state_index)" />
		<param name="eighth_state_index" value="$(arg eighth_state_index)" />
	</node>

</launch>
